@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
.app {
  width: 100%;
  min-height: 100vh;
  background: #5CCDC9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 80vh;
  width: 50%;
  min-width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
.news {
  border: 1px solid black;
  min-height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #71672A;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 30px 0;
}
.news__title {
  font-size: 16px;
  font-weight: bold;
  width: 90%;
}
.news__description {
  margin-top: 10px;
  font-size: 14px;
  width: 90%;
}
.news:hover {
  background: #009B95;
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */